.Title{
    color: #552277;
}

.Info {
    color: 	#B80000;
}

.ContentTitle {
    color: #800080;
}

.PokeInfo {
    border: solid 1px black;
    background-color: #DCDCDC;
    width: 50%;
    h1{
     color: #800080;
    }
    p{
     color: 	#B80000;
    }
}